:root {
	--main-green-color: #2b992b;
	--yellow-color: #fddc7c;
	--purple-color: #2f1059;
	--second-purple-color: #7925ec;
	--soft-purple-color: #e8def5;
	--nav-height: 100px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: inherit;
	color: inherit;
}


.page {
	font-family: 'Roboto Slab', serif;
	color: black;
	background: var(--yellow-color);
	min-width: 1270px;
	letter-spacing: 0.5px;
}


.container {
	max-width: 1230px;
	margin: 0 auto;
}


/*
* --- NAVIGATION ---
*/
.navPanel {
	height: var(--nav-height);
	background: white;
}
.navPanel__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 11px;
}
.navPanel__logo {
	margin-left: 30px;
	margin-right: 15px;
}


/*
* --- menu ---
*/
.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	list-style: none;
	width: 705px;
	font-weight: bold;
	letter-spacing: -0.9px;
}
.menu__link {
	padding: 9px 10px 11px 10px;
	border-radius: 5px;
}
.menu__link:hover {
	background-color: #f7f2fe;
}
.menu__link:active {
	filter: brightness(98%);
}


/*
* --- telephone ---
*/
.telephone {
	font-weight: bold;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-align: right;
	color: var(--tel-main-color);
}
.telephone__number {
	display: inline-block;
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 8px;
	padding-bottom: 2px;
}
.telephone__number:hover {
	font-weight: lighter;
}
.telephone__number:active {
	font-weight: bolder;
}
.telephone__callRequest {
	display: block;
	border: 1px solid var(--tel-main-color);
	border-radius: 5px;
	padding-left: 20px;
	line-height: 14px;
	padding: 12px 5px 14px 10px;
	margin-left: auto;
}
.telephone__callRequest:hover {
	background-color: var(--tel-main-color);
	color: var(--tel-2nd-color);
}
.telephone__callRequest:active {
	background-color: var(--tel-2nd-color);
	color: var(--tel-main-color);
}
.telephone__icon {
	font-size: 12px;
	vertical-align: middle;
}

.telephone_color_purple {
	--tel-main-color: var(--purple-color);
	--tel-2nd-color: white;
}
/*.telephone_color_plain {
	--tel-main-color: white;
	--tel-2nd-color: black;
}*/


/*
* --- BANNER ---
*/
.banner {
	position: relative;
	height: calc(100vh - 100px);
	min-height: 540px;
}
.banner:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	content: "";
	display: block;
	height: 63px;
	background: white;
}
.banner__background {
	background: var(--yellow-color);
	position: absolute;
	z-index: -1;
	object-fit: cover;
	width: 100%;
	height: calc(100% - 63px);
}

/*
* --- offer ---
*/
.offer {
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	background: url(../images/offer-bg.png) calc(50% + 10px) center no-repeat;
	text-align: center;
	color: var(--purple-color);
}
.offer__text_up {
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 9px;
}
.offer__heading {
	font-size: 43px;
	text-transform: uppercase;
}
.offer__text_down {
	font-size: 20px;
	margin-bottom: 40px;
}


/*
* --- appointment ---
*/
.appointment {
	position: absolute;
	right: 0;
	bottom: -35px;
	left: 0;
	padding: 70px;
	margin: auto;
	width: 920px;
	height: 378px;
	background: url(../images/appointment-bg.png) center center no-repeat;
	text-align: center;
	color: white;
}
.appointment__heading {
	margin-top: 27px;
	margin-bottom: 3px;
	font-size: 24px;
}
.appointment__caption {
	font-size: 17px;
	font-weight: normal;
}
.appointment__data {
	margin-top: 18px;
	font-size: 16px;
	color: #7e7985;
}
.appointment__icon {
	position: absolute;
	margin: 18px 0 0 32px;
	font-size: 14px;
	pointer-events: none;
	z-index: 2;
}
.appointment__input {
	position: relative;
	z-index: 3;
	height: 52px;
	width: 200px;
	padding-left: 27px;
	border: none;
	border-radius: 5px;
	margin: 0 2px;
	background: var(--soft-purple-color);
	outline: none;
}
.appointment__input::placeholder {
	font-size: 16px;
	color: #7e7985;
	font-family: 'Roboto Slab', serif;
	vertical-align: middle;
}
.appointment__input:placeholder-shown {
	z-index: 1;
}
.appointment__input:focus { 
  background-color: white;
}
.appointment__input_submit {
	font-family: 'Roboto Slab', serif;
	height: 52px;
	background: #d22828;
	color: white;
	font-size: 17px;
	font-weight: bold;
	width: 275px;
	vertical-align: middle;
	padding-left: 0;
	padding-bottom: 4px;
}
.appointment__input_submit:hover {
	background: #ea2d2d;
	cursor: pointer;
}
.appointment__input_submit:active {
	padding-left: 0;
	padding-bottom: 7px;
}
.appointment__notification {
	color: var(--second-purple-color);
	font-weight: lighter;
	margin-top: 42px;
	font-size: 15.3px;
}
.appointment__appartments {
	display: inline-block;
	width: 25px;
	height: 25px;
	font-size: 20.7px;
	line-height: 22px;
	font-weight: bold;
	border: 1px solid var(--second-purple-color);
	border-radius: 3px;
}


/*
* --- ADVATAGES ---
*/
.advantages {
	background: white;
}
.advantages__inner {
	padding: 13px 42px;
}
.advantages__list {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.advantages__item {
	background: url(../images/element-bg.png) center center no-repeat;
	width: 152px;
	height: 152px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.advantages__item_position_left {
	margin-top: 120px;
}
.advantages__item_position_middle{
	margin-top: 52px;
}
.advantages__item_position_right {
	margin-top: 130px;
}
.advantages__text {
	margin-left: 4px;
	text-align: center;
	font-size: 17px;
	letter-spacing: -0.7px;
	color: var(--purple-color);
}




.second {
	height: 100vh;

}










/*
.em-ml27 {
	margin-left: 27px;
}
.em-ml30 {
	margin-left: 30px;
}
.em-ml32 {
	margin-left: 32px;
}
.em-ml40 {
	margin-left: 40px;
}
.em-ml44 {
	margin-left: 44px;
}


.heading {
	text-transform: uppercase;
	line-height: 1.45em;
	letter-spacing: .05em;
}
.heading_h2 {
	text-align: center;
	font-size: 26px;
}
.heading_h3 {
	font-size: 22px;
	line-height: 22px;
}


.underlined:after {
	content: "";
	display: block;
	background: var(--blue-color);
	width: 72px;
	height: 3px;
	margin-top: 13px;
	margin-left: 3px;
}


.button {
	display: inline-block;
	border: 1px solid white;
	color: white;
	line-height: 10px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 23px 35px;
	border-radius: 30px;
	letter-spacing: .075em;
}
.button:active {
	background-color: transparent !important;
}


.banner {
	height: 100vh;
	min-height: 350px;
	max-height: 1080px;
	background-color: var(--blue-color);
}
.banner__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.banner__inner > * {
	margin: auto;
}
.banner__logoWrap {
	margin-top: 53px;
	display: inline;
}
.banner__img_logo {
	height: 32px;
}
.banner__img_interactive {
	height: 18px;
	margin-top: 3px;
}
.banner__img_interactive:hover {
	height: 20px;
}
.banner__img_interactive:active {
	margin-top: 0;
}
.banner__offer {
	height: calc(100vh - 165px);
	min-height: 185px;
	max-height: 905px;
	text-align: center;
}
.banner__heading {
	font-size: 1.63em;
	color: white;
	margin: 0 170px;
}
.banner__heading:before {
	content: '';
	display: block;
	height: calc(50vh - 165px);
	min-height: 10px;
	max-height: 375px;
}
.banner__contactBtn {
	margin-top: 30px;
}
.banner__contactBtn:hover {
	background-color: white;
	color: var(--blue-color);
}
.banner__contactBtn:active {
	color: white;
}


.aboutMe {
	background: white;
}
.aboutMe__heading {
	padding-top: 75px;
}
.aboutMe__heading_h3 {
	margin-bottom: 30px;
}
.aboutMe__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.aboutMe__content > * {
	width: 50%;
}
.aboutMe__mission {
	padding-right: 80px;
}
.aboutMe__text {
	font-size: 15px;
	line-height: 1.7em;
}
.aboutMe__text_plain {
	margin-bottom: 33px;
}
.aboutMe__text_description {
	color: lightgray;
}
.aboutMe__merits {
	padding-left: 15px;
}
.aboutMe__meritsList {
	list-style: none;
}
.aboutMe__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 22px;
}
.aboutMe__iconWrap {
	width: 40px;
	text-align: center;
	margin-right: 20px;
}
.aboutMe__caption {
	font-size: 16px;
}
.aboutMe__caption_theme_merits {
	color: var(--blue-color);
}


.whyMe {
	background: white;
}
.whyMe__inner {
	padding-top: 117px;
	padding-bottom: 75px;
}
.whyMe__list {
	margin: 65px 50px 64px 64px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.whyMe__number {
	height: 75px;
	width: 75px;
	border: 1px solid var(--dark-color);
	border-radius: 50%;
	margin: 0 auto 18px auto;
	font-size: 30px;
	line-height: 73px;
	text-align: center;
}
.whyMe__number:hover {
	background: var(--dark-color);
	color: white;
}
.whyMe__offer {
	text-align: center;
}
.whyMe__heading {
	margin-right: 16px;
}
.whyMe__text {
	font-size: 0.9em;
	line-height: 1.6em;
	width: 415px;
	margin: 27px auto;	
}
.whyMe__contactBtn {
	border-color: var(--dark-color);
	color: var(--dark-color);
}
.whyMe__contactBtn:hover {
	background-color: var(--dark-color);
	color: white;
}
.whyMe__contactBtn:active {
	color: var(--dark-color);
}


.footer {
	background: var(--dark-color);
}
.footer__inner {
	color: white;
	font-size: 13px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer__developer {
	margin-left: 21px;
}
.footer__developer:hover {
	border-bottom: 1px solid white;
}
.footer__privacyPolicy {
	padding-bottom: 2px;
	border-bottom: 1px dotted gray;
}
.footer__privacyPolicy:hover {
	border-color: white;
}*/