/*
* --- SECTION ---
*/
.skills {
	padding-top: 63px;
}

/*
* --- SKILL LIST ---
*/
.skills__list {
	--min-item-list: 200px;
	margin-top: 63px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-item-list), 1fr));
 	grid-gap: 20px;
 	list-style: none;
}

/*
* --- Skill item ---
*/
.skills__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

/*
* --- Skill number ---
*/
.skills__number {
	position: relative;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	line-height: 60px;
	font-size: 13px;
	font-weight: 100;
	text-align: center;
	color: var(--green-color);
}
.skills__number:before,
.skills__number:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.skills__number:after {
	height: 44px;
	width: 44px;
	border: 1px solid var(--light-green-color);
	border-radius: 50%;
	background-color: white;
	z-index: -1;
}
.skills__number:before {
	height: 56px;
	width: 56px;
	border: 1px solid var(--green-color);
	border-radius: 50%;
	z-index: -2;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.skills__number:hover:before {
	background-color: var(--light-green-color);
}

/*
* --- Skill name ---
*/
.skills__name {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 27px;
}


/*
* --- MEDIA QUIRES ---
*/

/* Item vertical */
@media 	screen and (min-width: 690px) and (max-width: 925px),
		screen and (min-width: 400px) and (max-width: 485px) {
	.skills__list {
		--min-item-list: 160px;
	}
	.skills__item {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.skills__name {
		margin: 0;
		margin-top: 13px;
	}
}
/* More space for items */
@media screen and (min-width: 690px) and (max-width: 760px) {
	.skills__list {
		--min-item-list: 140px;
	}
}
/* Increase item's size */
@media screen and (max-width: 430px) {
	.skills__list {
		grid-column-gap: 0;
		grid-row-gap: 50px;
	}
	.skills__number {
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		transform: scale(1.5);
		margin-bottom: 15px;
	}
}
/* Skills list vertical */
@media screen and (max-width: 400px) {
	.skills__number {
		margin: 0;
		margin-left: 15px;
	}	
}